@import './variables.scss';

html {
  --ion-font-family: 'Poppins', sans-serif;
  color: white;
}
*::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
ion-app {
  max-width: 1024px;
  margin: 0 auto;
}
ion-item {
  --background: none;
  --border-color: transparent;
}
ion-list {
  background: var(--gradient-1);
}
ion-item-divider {
  --background: none;
}
ion-toggle {
  --background-checked: var(--accent);
}
ion-action-sheet.action-sheet {
  --button-color: white;
}

